.priceToggler {
  background-color: #ff9800 !important;
  color: white !important;
}

.priceToggler:hover {
  animation: showPrice 0.2s ease-in 0.1s forwards;
}

@keyframes showPrice {
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.1) translate(0px, 0);
  }
  70% {
    transform: scale(1.2) translate(-4px, 0);
  }
  100% {
    transform: scale(1.2) translate(-7px, 0);
  }
}

@keyframes kreep {
  0% {
    transform: scale(1.1, 0.9) translateZ(0);
  }
  50% {
    transform: scale(0.9, 1.1) translateY(-0.5rem) translateZ(0);
  }
  70% {
    transform: scale(1) translateZ(0);
  }
}

.purePrice {
  opacity: 0;
  font-size: 0px;
  width: 0%;
}

.priceToggler:hover .purePrice {
  opacity: 1;
  animation: fontGrow 0.2s ease 0.1s forwards;
}

.jump {
  display: inline-block;
  animation: kreep 0.7s ease 2s infinite alternate;
}

@keyframes fontGrow {
  30% {
    font-size: 2px;
    width: 0%;
  }
  50% {
    font-size: 3px;
  }
  70% {
    font-size: 6px;
  }
  100% {
    font-size: 18px;
    width: 100%;
  }
}

.priceToggler:hover .disapearOnHover {
  animation: disapearAfter2s 0.6s ease forwards;
}

@keyframes disapearAfter2s {
  100% {
    opacity: 0;
    width: 0;
  }
}
